@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: Inter;
    box-sizing: border-box;
}

section {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.heading h1 {
    color: #FF6B82;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.heading hr {
    height: 92px;
    transform-origin: center;
    transform: rotate(-90deg);
    margin: 0px 52px;
}

.box-container {
    border-radius: 4px;
    border: 0.9px solid #c8c8c8;
    position: relative;
}

.box-container:hover {
    background-color: #FFF9FA;
    border: 2px solid #FF6B82;
}

.box-container .box {
    padding: 10px;
    width: 341px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

input[type="radio"]:checked {
    accent-color: indianred;
    background-color: #FF6B82;
    /* Example accent color */
}

.first-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rate-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 10px;
}

.unit-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.units h2 {
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}

.price-type span {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;

}

.offer {
    background: #FF6B82;
    color: #fff;
    padding: 1px;
    margin-left: 10px;
}

.offer h2 {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;

}

.price h2 {

    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;

}

.price p {
    text-decoration: line-through;
    opacity: 30%;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 2px;
}


.delivery-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 337px;
    margin-top: 10px;
}

.delivery-type h2 {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #FF6B82;
}

.delivery-cost h2 {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}



.button-container {
    margin-top: 10px;
}

.button-container {
    border-radius: 4px;
    border-style: hidden;
    width: 342px;
    background: #FF6B82;
}

.button-container .fa-plus {
    color: #fff;
}

.button-container .add-cart {
    color: #fff;
    margin-left: 5px;
}

.add-button {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
}


.powered-text h2 {
    margin-top: 10px;
    margin-left: 210px;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: #00000066;
}

.selected {
    border: 2px solid #FF6B82;
    background-color: #FFF9FA;
}

.show {
    display: none;
}

.visible {
    display: block;
}

.size-color-text-con h2 {
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    padding: 3px 0px;

}

select {
    border-radius: 2px;
    width: 66px;
    border: 1px solid #D9D9D9;
    font-size: 9.5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 3px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23000000' width='18px' height='18px'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 1px center;
    /* Adjust the position of the arrow */
    background-size: 18px;
    /* Adjust the size of the arrow */
    cursor: pointer;
}

select option {
    padding: 0.5px;
}

.badge {
    position: absolute;
    top: -13px;
    right: 8.5px;
    background-color: #FF6B82;
    color: white;
    padding: 5px;
    border-radius: 1.5px 1.5px 3px 3px;
    font-size: 7px;
}

.triangle {
    position: absolute;
    top: 1px;
    left: -10px;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-right: 10px solid #D7445B;
}

.triangle-left {
    position: absolute;
    top: 29%;
    left: 88px;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-left: 10px solid #D7445B;
    transform: translateY(-50%);
}

.column-name h2 {
    font-size: 9px;
    font-weight: 400;
    line-height: 11px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 4px;

}